@page
@model TamplateSample.Pages.Sections

@{
    ViewData["Charset"] = "UTF-8";
    ViewData["Title"] = "Sections";
    ViewData["A"] = "AAA";
}
@section Scripts
{
    <script>
        alert("Hello World!");
    </script>
}
@section Block
{
    <h2>Hello World!!!</h2>
}
